.speech_bubble {
  position: absolute;
  background-color: #fff;
  border-radius: 12px;
  transform-origin: bottom right;
  transform-style: preserve-3D;
  transition: transform .15s ease-in;
  transform: scale(0);
  z-index: 10;
}

.speech_bubble::after {
  border-left: 20px solid transparent;
  border-top: 20px solid #fff;
  bottom: -20px;
  content: "";
  position: absolute;
  right: 10px;
  z-index: 10;
}

.speech_bubble_expand {
  transform: scale(1);
}

.img, .card_img {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.rect_green {
  border-radius: 12px !important;
  width: auto !important;
  height: auto !important;
  padding: 8px !important;
}

.speech_bubble textarea {
  width: 100%;
}

.speech_bubble input {
  width: 100%;
}

.left_half {
  width: 50%;
  float: left;
}

.right_half {
  width: 50%;
  float: right;
}

.right_half div {
  border-top-right-radius: 12px;
}

#img_label {
  cursor: pointer;
}

/* default bubble input fields look */
.card__info label {
  margin-top: 20px;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #666;
}

input[type=text], input[type=password] {
  font-family: 'Kodchasan', sans-serif;
  width: 100%;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

textarea {
  font-family: 'Kodchasan', sans-serif;
  width: 100%;
  height: 70px;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
}

/* .todo label {
  width: 100%;
}

.todo input {
  width: 75%;
  float: left;
  padding: 0px;
}

.todo button {
  position: relative;
  bottom: auto;
  right: auto;
  width: 25%;
  height: auto;
  border-radius: 0 8px 8px 0;
  margin: 0; 
} */

.btn-submit {
  color: #fff;
  border: 0;
  float: right;
}

.bubble-form-footer {
  position: absolute !important;
  bottom: 10px;
}

.toggle-control {
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked ~ .control {
  background-color: dodgerblue;
}

.toggle-control input:checked ~ .control:after {
  left: 27px;
}

.toggle-control .control {
  position: absolute;
  height: 26px;
  width: 50px;
  border-radius: 12px;
  background-color: darkgray;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background: white;
  -webkit-transition: left 0.15s ease-in;
  transition: left 0.15s ease-in;
}

.control {
  margin-top: -10px;
  margin-left: 10px;
}

#hidden_checked {
  display: none;
}

#hidden_unchecked {
  display: none;
}

.todo .top_bar {
  width: 100%;
}

.todo .top_bar input {
  width: 80%;
  border: 0;
  margin: 0;
  font-size: 1.1em;
  background-color: #e8eeef;
  color: #8a97a0;
  padding: 10px;
}

.todo .top_bar button {
  opacity: 0.7;
  border: 0;
  margin: 0;
  width: 20%;
  font-size: 1.1em;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #4CAF50;
  transition: .25s ease-in;
}

.todo .top_bar button:hover {
  opacity: 1;
}

.todo .list ul {
  text-align: left;
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.todo .list .item {
  font-size: 1.1em;
  width: 100%;
  float: left;
  padding: 10px;
  background-color: #e8eeef;
  color: #8a97a0;
  height: auto;
  transition: .25s ease-in;
  opacity: .7
}

.todo .list li:hover .item {
  width: 80%;
  opacity: 1;
}

.todo span {
  opacity: 0;
  transition: 1s ease-in;
}

.todo .delete {
  cursor: pointer;
  border: 0;
  background-color: #ff0000;
  font-size: 1.1em;
  width: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  transition: .25s ease-in;
  color: #fff;
  opacity: 0.5;
}

.todo .list li:hover .delete {
  width: 20%;
}

.todo .delete:hover {
  opacity: 1;
}

.todo .checked {
  opacity: 1;
}

.todo-container {
  text-align: center;
  width: 400px;
  margin: auto;
}

.todo-container ul {
  height: 210px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.todo-container::-webkit-scrollbar ul { 
  display: none;  /* Safari and Chrome */
}