@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --main-font-family: 'Quicksand', sans-serif;
  --main-light-color: #fff;
  --main-nav-color: #040d16;
}

h1, h2, h3, h4, h5 {
    font-family: var(--main-font-family);
}

.footer-fix {
    float: left;
    width: 100%;
}

.row {
    margin: 0!important;
    width: 100%;
}

.footer-fix {
    height: 100vh;
    position: relative;
    z-index: 5;
}