/* line 3, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
.campaign-form {
  position: fixed;
  z-index: 10;
  width: 0;
  background-color: rgba(4, 13, 22, 0.7);
  margin-left: calc(20vw + 50px);
  top: 0;
  transition: ease-in .5s;
  overflow-y: hidden;
  scrollbar-width: none;
  /* Firefox */
  padding-bottom: 20px; }
  /* line 15, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
  .campaign-form ::-webkit-scrollbar {
    display: none; }
  /* line 19, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
  .campaign-form .campaign_form {
    width: 20vw; }
    /* line 22, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
    .campaign-form .campaign_form .form-head {
      margin: auto;
      text-align: center; }
      /* line 26, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-head h1 {
        font-size: 1.75em;
        float: left;
        padding-top: 10px;
        padding-bottom: 2px;
        width: 100%;
        color: #fff;
        margin: 0; }
        /* line 35, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
        .campaign-form .campaign_form .form-head h1 .btn {
          background-color: transparent;
          border: 0; }
        /* line 40, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
        .campaign-form .campaign_form .form-head h1 .btn svg {
          margin-top: -5px;
          width: 30px;
          float: left;
          height: 33px; }
    /* line 49, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
    .campaign-form .campaign_form .form-body {
      padding-right: 20px;
      padding-left: 10px; }
      /* line 53, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body input {
        border-radius: 10px;
        background-color: transparent;
        border: 2px solid #fff;
        width: 100%;
        height: 36px;
        float: left;
        color: #fff;
        font-family: var(--main-font-family);
        font-size: 1.5em; }
      /* line 65, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body textarea {
        border-radius: 10px;
        background-color: transparent;
        width: 100%;
        border: 0;
        height: 0;
        float: left;
        color: #fff;
        font-family: var(--main-font-family);
        font-size: 1.5em;
        transition: ease-in .5s;
        opacity: 0; }
      /* line 79, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body textarea.active {
        margin-top: 10px;
        height: 90px;
        border: 2px solid #fff;
        opacity: 1; }
      /* line 86, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body .btn {
        padding: 0;
        border-radius: 10px;
        background-color: transparent;
        width: 100%;
        border: 0;
        height: 0;
        float: left;
        color: #fff;
        font-family: var(--main-font-family);
        font-size: 1.5em;
        transition: ease-in .5s;
        opacity: 0; }
      /* line 101, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body .btn.active {
        margin-top: 10px;
        height: 40px;
        border: 2px solid #fff;
        opacity: 1; }
      /* line 109, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body .create_campaign :hover {
        background-color: #fff;
        color: #000; }
      /* line 115, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body .advanced_options {
        border: 0 !important;
        color: #aaa;
        font-size: 1.2em; }

/* line 124, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
.campaign-form.active {
  width: 20vw; }
