/* line 20, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
.campaign-form {
  position: fixed;
  z-index: 10;
  width: 0;
  background-color: rgba(4, 13, 22, 0.7);
  margin-left: calc(20vw + 50px);
  top: 0;
  transition: ease-in 0.5s;
  overflow-y: hidden;
  scrollbar-width: none;
  /* Firefox */
  padding-bottom: 20px; }
  /* line 32, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
  .campaign-form ::-webkit-scrollbar {
    display: none; }
  /* line 36, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
  .campaign-form .campaign_form {
    width: 20vw; }
    /* line 39, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
    .campaign-form .campaign_form .form-head {
      margin: auto;
      text-align: center; }
      /* line 43, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-head h1 {
        font-size: 1.75em;
        float: left;
        padding: 10px;
        width: 100%;
        color: #fff;
        margin: 0; }
        /* line 51, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
        .campaign-form .campaign_form .form-head h1 .btn {
          background-color: transparent;
          border: 0; }
        /* line 56, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
        .campaign-form .campaign_form .form-head h1 .btn svg {
          margin-top: -5px;
          width: 30px;
          float: left;
          height: 33px; }
    /* line 65, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
    .campaign-form .campaign_form .form-body {
      padding-right: 20px;
      padding-left: 10px;
      width: calc(100% - 40px); }
      /* line 70, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body input {
        border-radius: 10px;
        background-color: transparent;
        border: 2px solid #fff;
        width: calc(100% - 8px);
        height: 34px;
        padding: 1px 5px;
        float: left;
        color: #fff;
        font-family: var(--main-font-family);
        font-size: 1.5em; }
      /* line 83, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body textarea {
        border-radius: 10px;
        background-color: transparent;
        width: 100%;
        border: 0;
        height: 0;
        float: left;
        color: #fff;
        font-family: var(--main-font-family);
        font-size: 1.5em;
        transition: ease-in .5s;
        opacity: 0; }
      /* line 97, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body textarea.active {
        margin-top: 10px;
        height: 86px;
        border: 2px solid #fff;
        opacity: 1; }
      /* line 104, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body .btn {
        padding: 0;
        border-radius: 10px;
        background-color: transparent;
        width: 100%;
        border: 0;
        height: 0;
        float: left;
        color: #fff;
        font-family: var(--main-font-family);
        font-size: 1.5em;
        transition: ease-in .5s;
        opacity: 0; }
      /* line 119, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body .btn.active {
        margin-top: 10px;
        height: 34px;
        padding: 1px 5px;
        border: 2px solid #fff;
        font-size: 1.75em;
        opacity: 1; }
      /* line 129, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body .create_campaign :hover {
        background-color: #fff;
        color: #000; }
      /* line 135, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
      .campaign-form .campaign_form .form-body .advanced_options {
        border: 0 !important;
        color: #aaa;
        font-size: 1.2em; }

/* line 144, dashboard/static/navigation/sidebar/basic/css/campaign-form.scss */
.campaign-form.active {
  width: 20vw; }
