/* line 10, dashboard/static/navigation/sidebar/basic/css/navbar.scss */
.page-content {
  margin-left: 50px; }

/* line 14, dashboard/static/navigation/sidebar/basic/css/navbar.scss */
.sidebar {
  float: left;
  position: fixed;
  z-index: 10;
  width: 50px;
  height: 100vh;
  background-color: #040d16;
  overflow-y: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }
  /* line 25, dashboard/static/navigation/sidebar/basic/css/navbar.scss */
  .sidebar ::-webkit-scrollbar {
    display: none; }
  /* line 30, dashboard/static/navigation/sidebar/basic/css/navbar.scss */
  .sidebar .base .logo {
    margin-top: 0;
    fill: #fff; }
  /* line 35, dashboard/static/navigation/sidebar/basic/css/navbar.scss */
  .sidebar .base svg {
    margin-top: 10px;
    width: 40px;
    padding: 5px;
    cursor: pointer; }
  /* line 43, dashboard/static/navigation/sidebar/basic/css/navbar.scss */
  .sidebar .bottom {
    position: absolute;
    bottom: 0; }
    /* line 47, dashboard/static/navigation/sidebar/basic/css/navbar.scss */
    .sidebar .bottom svg {
      padding: 5px;
      margin-top: 20px; }
      /* line 51, dashboard/static/navigation/sidebar/basic/css/navbar.scss */
      .sidebar .bottom svg :last-child {
        margin-bottom: 10px; }
