/* line 19, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
:root {
  --sidenav-background-color: 4, 13, 22; }

/* line 24, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
.options-nav {
  position: fixed;
  float: left;
  width: 0;
  margin-left: 50px;
  height: 100vh;
  background: radial-gradient(rgba(4, 13, 22, 0.8), rgba(4, 13, 22, 0.5));
  overflow-x: hidden;
  overflow-y: scroll;
  transition: ease-in-out 0.5s;
  background-repeat: no-repeat;
  background-size: 100vh 100vh;
  z-index: z-index;
  scrollbar-width: none; }
  /* line 39, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
  .options-nav ::-webkit-scrollbar {
    display: none; }
  /* line 43, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
  .options-nav .head {
    width: 20vw;
    float: left;
    text-align: center; }
    /* line 48, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
    .options-nav .head h1 {
      margin: 0;
      font-size: 1.75em;
      float: right;
      width: 100%;
      padding: 10px;
      color: #fff; }
  /* line 58, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
  .options-nav .search {
    width: calc($width - 40px);
    padding: 20px; }
    /* line 62, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
    .options-nav .search .in {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: transparent;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-right: 0;
      width: calc(100% - 50px)2px;
      height: 34px;
      float: left;
      color: #fff;
      font-family: var(--main-font-family);
      font-size: 1.5em; }
    /* line 78, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
    .options-nav .search .btn {
      border-radius: 6px 10px 10px 6px;
      width: 50px-calc($border-size * 2);
      height: 40px;
      border: 2px solid #fff;
      padding: 0;
      background: transparent;
      transition: ease-in .5s; }
      /* line 87, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
      .options-nav .search .btn svg {
        height: 30px;
        transition: ease-in .25s; }
    /* line 101, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
    .options-nav .search .elements {
      color: #fff; }
      /* line 104, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
      .options-nav .search .elements .element {
        border-radius: 10px;
        height: 34px;
        padding: 1px 5px;
        margin-top: 10px;
        border: 2px solid #fff;
        cursor: pointer; }
        /* line 112, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
        .options-nav .search .elements .element h2 {
          font-size: 1.5em;
          width: 80%;
          height: 100%;
          float: left;
          text-align: left;
          color: #fff;
          margin: 0; }
          /* line 121, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
          .options-nav .search .elements .element h2 :hover {
            color: #fff; }
        /* line 126, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
        .options-nav .search .elements .element span span {
          width: 0%;
          height: 100%;
          float: right;
          transition: ease-in .5s;
          overflow-x: hidden; }
          /* line 133, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
          .options-nav .search .elements .element span span svg {
            height: 100%;
            transition: ease-in .5s;
            margin-left: -15px; }
            /* line 138, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
            .options-nav .search .elements .element span span svg :last-child {
              margin-right: -10px; }
      /* line 146, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
      .options-nav .search .elements .element.active span span {
        width: 8%; }
      /* line 152, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
      .options-nav .search .elements .dropdown .sub-element {
        padding: 0;
        height: 0;
        width: 95%;
        margin-left: 5%;
        margin-top: 0;
        border-radius: 10px;
        color: #fff;
        background: transparent;
        overflow-y: hidden;
        transition: ease-in .5s;
        text-align: left; }
        /* line 165, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
        .options-nav .search .elements .dropdown .sub-element .card {
          height: 40px;
          width: 100%;
          background: transparent; }
          /* line 170, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
          .options-nav .search .elements .dropdown .sub-element .card h2 {
            font-size: 1.7em;
            float: left;
            width: 90%; }
          /* line 176, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
          .options-nav .search .elements .dropdown .sub-element .card span {
            height: 100%;
            float: left;
            width: 10%; }
            /* line 181, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
            .options-nav .search .elements .dropdown .sub-element .card span svg {
              height: 100%; }
      /* line 190, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
      .options-nav .search .elements .dropdown.active .sub-element {
        height: 40px;
        margin-top: 10px;
        padding: 3px;
        border: 10px solid #fff; }
  /* line 200, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
  .options-nav .new-campaign {
    cursor: pointer;
    transition: ease-in .25s; }
    /* line 204, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
    .options-nav .new-campaign h2 {
      transition: ease-in .25s; }
    /* line 208, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
    .options-nav .new-campaign svg {
      transition: ease-in .25s;
      height: 100%;
      margin: 0;
      float: right; }
    /* line 215, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
    .options-nav .new-campaign span {
      width: 6% !important; }
  /* line 220, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
  .options-nav .new-campaign.active {
    background-color: #fff; }
    /* line 223, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
    .options-nav .new-campaign.active h2 {
      color: #000 !important; }
    /* line 227, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
    .options-nav .new-campaign.active svg {
      transform: rotate(45deg);
      stroke: #000; }

/* line 234, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
.options-nav.active {
  width: 20vw; }
