/* line 8, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
.options-nav {
  position: fixed;
  float: left;
  width: 0;
  margin-left: 50px;
  height: 100vh;
  background: radial-gradient(rgba(4, 13, 22, 0.8), rgba(4, 13, 22, 0.5));
  overflow-x: hidden;
  overflow-y: scroll;
  transition: ease-in-out .5s;
  background-repeat: no-repeat;
  background-size: 20vw 20vw;
  z-index: z-index;
  scrollbar-width: none; }
  /* line 23, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
  .options-nav ::-webkit-scrollbar {
    display: none; }

/* line 28, dashboard/static/navigation/sidebar/basic/css/sidebar.scss */
.options-nav.active {
  width: 20vw; }
