.campaign-form {
    position: fixed;
    z-index: 10;
    width: 0;
    background-color: var(--main-nav-color);
    margin-left: 20vw;
    top: 0;
    transition: ease-in .5s;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding-bottom: 20px;
}

.campaign-form::-webkit-scrollbar {
    display: none;
}

.campaign-form.active {
    width: 20vw;
}

.campaign-form .campaign_form {
    width: 20vw;
}

.campaign-form .campaign_form .form-head {
    margin: auto;
    text-align: center;
}

.campaign-form .form-head h1 {
    font-size: 1.75em;
    float: left;
    padding-top: 10px;
    padding-bottom: 2px;
    width: 100%;
    
}

.campaign-form .form-head h1 .btn svg {
    margin-top: -5px;
    width: 30px;
    float: left;
    height: 33px;
}

.campaign-form .form-body {
    padding-right: 20px;
    padding-left: 10px;
}

.campaign-form .form-body input {
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    width: 100%;
    height: 40px;
    float: left;
    color: #fff;
    font-family: var(--main-font-family);
    font-size: 1.5em;
}

.campaign-form .form-body textarea {
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    border: 0;
    height: 0;
    float: left;
    color: #fff;
    font-family: var(--main-font-family);
    font-size: 1.5em;
    transition: ease-in .5s;
    opacity: 0;
}

.campaign-form .form-body textarea.active {
    margin-top: 10px;
    height: 90px;
    border: 2px solid #fff;
    opacity: 1;
}

.campaign-form .form-body .btn {
    padding: 0;
    border-radius: 10px;
    background-color: transparent;
    width: 100%;
    border: 0;
    height: 0;
    float: left;
    color: #fff;
    font-family: var(--main-font-family);
    font-size: 1.5em;
    transition: ease-in .5s;
    opacity: 0;
}

.campaign-form .form-body .btn.active {
    margin-top: 10px;
    height: 40px;
    border: 2px solid #fff;
    opacity: 1;
}

.campaign-form .form-body .create_campaign:hover {
    background-color: #fff;
    color: #000;
}

.campaign-form .form-body .advanced_options {
    border: 0! important;
    color: #aaa;
    font-size: 1.2em;
}