.btn-green {
  background-color: #4CAF50 !important;
}

.btn-red {
  background-color: #f44336 !important;
}

#btn-01 {
  -webkit-animation-name: btn-01-reverse-animation;
  -webkit-animation-duration: .5s;
  animation-name: btn-01-reverse-animation;
  animation-duration: .5s;
  transform: translate(0, 0);
}

#btn-02 {
  -webkit-animation-name: btn-02-reverse-animation;
  -webkit-animation-duration: .5s;
  animation-name: btn-02-reverse-animation;
  animation-duration: .5s;
  transform: translate(0, 0);
}

#btn-03 {
  -webkit-animation-name: btn-03-reverse-animation;
  -webkit-animation-duration: .5s;
  animation-name: btn-03-reverse-animation;
  animation-duration: .5s;
  transform: translate(0, 0);
}

.open #btn-01 {
  -webkit-animation-name: btn-01-animation;
  -webkit-animation-duration: .5s;
  animation-name: btn-01-animation;
  animation-duration: .5s;
  transform: translate(0, -70px);
}

.open #btn-02 {
  -webkit-animation-name: btn-02-animation;
  -webkit-animation-duration: .5s;
  animation-name: btn-02-animation;
  animation-duration: .5s;
  transform: translate(0, -140px);
}

.open #btn-03 {
  -webkit-animation-name: btn-03-animation;
  -webkit-animation-duration: .5s;
  animation-name: btn-03-animation;
  animation-duration: .5s;
  transform: translate(0, -210px);
}

@-webkit-keyframes btn-01-animation {
  from {transform: translate(0, 0);}
  to {transform: translate(0, -70px);}
}

@keyframes btn-01-animation {
  from {transform: translate(0, 0);}
  to {transform: translate(0, -70px);}
}

@-webkit-keyframes btn-02-animation {
  from {transform: translate(0, 0);}
  to {transform: translate(0, -140px);}
}

@keyframes btn-02-animation {
  from {transform: translate(0, 0);}
  to {transform: translate(0, -140px);}
}

@-webkit-keyframes btn-03-animation {
  from {transform: translate(0, 0);}
  to {transform: translate(0, -210px);}
}

@keyframes btn-03-animation {
  from {transform: translate(0, 0);}
  to {transform: translate(0, -210px);}
}

@-webkit-keyframes btn-01-reverse-animation {
  from {transform: translate(0, -70px);}
  to {transform: translate(0, 0);}
}

@keyframes btn-01-reverse-animation {
  from {transform: translate(0, -70px);}
  to {transform: translate(0, 0);}
}

@-webkit-keyframes btn-02-reverse-animation {
  from {transform: translate(0, -140px);}
  to {transform: translate(0, 0);}
}

@keyframes btn-02-reverse-animation {
  from {transform: translate(0, -140px);}
  to {transform: translate(0, 0);}
}

@-webkit-keyframes btn-03-reverse-animation {
  from {transform: translate(0, -210px);}
  to {transform: translate(0, 0);}
}

@keyframes btn-03-reverse-animation {
  from {transform: translate(0, -210px);}
  to {transform: translate(0, 0);}
}

.bottom-nav button i {
  font-size: 1.5em;
}
