.speech_bubble {
  right: 110px;
  bottom: 220px;
  width: 800px;
  height: 550px;
}

#create_card {
  width: auto;
  border-radius: 8px;
  background-color: #4CAF50;
  height: 35px;
  right: 25px;
}

.main-campaign-img {
  background-image: url("/static/campaigns/img/folder.png");
  background-size: cover;
  background-position: center;
  width: 50%;
  padding-top: 75%;
  border-radius: 12px 12px 0 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

#speech_bubble_box {
  border-top-right-radius: 12px;
}

#card_img_label {
  border-top-right-radius: 0;
  cursor: pointer;
  width: 50%;
}

.card__description {
  overflow: visible;
  white-space: normal;
  text-overflow: initial;
}