.speech_bubble {
  right: 110px;
  bottom: 220px;
  width: 400px;
  height: 550px;
  border-radius: 10px;
}

.page-content {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.1)), url("/static/home/img/complex_background.png");
  background-size: cover;
  background-position: center;
}

.upload-btn-wrapper input[type=file] {
  width: 100%;
  height: 100%;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}