{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/base.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/80537ba704.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav>
            <img id="logo" style="float:left;" src="/static/home/img/pocket_campaigns_logo.png" />
            <h1 style="float:left; padding: 18px;">Pocket Campaigns</h1>
        </nav>
        <div class="row" style="width: 100%; line-height: 1.5;">
            <div class="col-md-3" style="padding: 80px;">
                <div class="device smartphone">
                    <img src="/static/home/img/mobile_back_01.png" alt="logo" />
                </div>
            </div>
            <div class="col-md-9" style="padding: 80px 80px 80px 45px;">
                <h1>Pocket Campaigns</h1>
                <p>This project was built to create a web platform that allows users to edit or create campaigns that can be
                    used on the mobile app. This project was created to have no ads.</p>
                <div class="login-button">
                    <button type="button" onclick="login()" class="cancelbtn">Login</button>
                </div>
            </div>
        </div>
        <div id="id01" class="modal" style="line-height: 1.5;">
            <form accept-charset="UTF-8" method="post">
                {% csrf_token %}
                <h1>Login</h1>
                <div class="row">
                    <div class="col-md-3">
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="google btn">
                            <i class="fab fa-google fa-fw"></i> Login with Google
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'social:begin' 'reddit' %}" class="reddit btn">
                            <i class="fab fa-reddit"></i> Login with Reddit
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'social:begin' 'twitter' %}" class="twitter btn">
                            <i class="fab fa-twitter"></i> Login with Twitter
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="{% url 'social:begin' 'github' %}" class="github btn">
                            <i class="fab fa-github-alt"></i> Login with Github
                        </a>
                    </div>
                </div>
                <div style="padding-top:20px;">
                    <label for="login_username">Username</label>
                    <input type="text" name="login_username" id="login_username" value="">
                    <label for="login_password">Password</label>
                    <input type="password" name="login_password" id="login_password" value="">
                    <!-- <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label> -->
                </div>
                <div style="width: 100%; padding-top: 20px;"></div>
                {% comment %} <div class="full-width">
                    <!-- <span class="psw" style="padding:0;">Forgot <a href="#">password?</a></span> -->
                </div> {% endcomment %}
                <div class="full-width">
                    <button id="register_page" type="button" onclick="registeruser()">Register</button>
                    <button id="login" name="commit" type="button" value="Log in">Login</button>
                </div>
            </form>
        </div>
        <div id="id02" class="modal" style="line-height: 1.5;">
            <form accept-charset="UTF-8" method="post">
                {% csrf_token %}
                <h1>Register</h1>
                <div style="padding-top:20px;">
                    <label for="register_username">Username</label>
                    <input type="text" name="register_username" id="register_username" value="">
                    <label for="register_password">Password</label>
                    <input type="password" name="register_password" id="register_password" value="">
                    <label for="register_check_pass">Confirm Password</label>
                    <input type="password" name="register_check_pass" id="register_check_pass" value="">
                </div>
                <div style="width: 100%; padding-top: 20px;"></div>
                <div class="full-width">
                    <button id="login_page" type="button" onclick="login()">Login</button>
                    <button id="register" name="register" type="button" value="create account">Create Account</button>
                </div>
            </form>
        </div>
        <script src="{% static 'home/js/home.js' %}" type="text/javascript"></script>
    </body>
</html>