<div id="register_template">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/register.css' %}">

    <form accept-charset="UTF-8" method="post" class="register_form">
        {% csrf_token %}
        <h1>Register</h1>
        <div style="padding-top:20px;">
            <label for="register_username">Username</label>
            <input type="text" name="register_username" id="register_username" value="">
            <label for="register_password">Password</label>
            <input type="password" name="register_password" id="register_password" value="">
            <label for="register_check_pass">Confirm Password</label>
            <input type="password" name="register_check_pass" id="register_check_pass" value="">
        </div>
        <div style="width: 100%; padding-top: 20px;"></div>
        <div class="full-width">
            <button id="register_btn" type="button">Create Account</button>
        </div>
        <div style="width: 100%; padding-top: 20px;"></div>
        Already a User? <button id="register_to_login"><em><u>Login</u></em></button>
    </form>

    <script src="{% static 'home/js/register.js' %}" type="text/javascript"></script>
</div>