<div class="sidebar particletext bubbles particle_overlay">
    <div class="base">
        {% include "icons/logo-ico.svg" %}
    </div>
    <div class="base">
        <a id="campaign-base">{% include "icons/file-ico.svg" %}</a>
    </div>
    <div class="base">
        <a>{% include "icons/person-ico.svg" %}</a>
    </div>
    <div class="base">
        <a id="app-base">{% include "icons/apps-ico.svg" %}</a>
    </div>

    <div class="bottom">
        {% include "icons/settings-ico.svg" %}
        <a href="/logout">{% include "icons/logout-ico.svg" %}</a>
    </div>
</div>