@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.main_logo {
    width: 100%;
}

.main_title {
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 2vh;
}

.main_title h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 2.5em;
}

.main_logo svg {
    height: 18em;
    fill: #fff;
}

.navbar {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    background-color: #242222;
    height: 66px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    color: #aaa;
}

.nav-item {
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 1.6em !important;
    font-weight: bold;
}

.landing_card {
    border: 5px solid white;
    border-radius: 27px;
    text-align: center;
    transition: ease-in-out .5s;
    height: 30vh;
}

.landing_card_title {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.landing_card p {
    display: none;
}

#create-icon {
    height: 14em;
    width: 14em;
    margin-top: 5%;
}

#organize-icon {
    height: 14em;
    width: 14em;
    margin-top: 5%;
}

#sick-play-icon {
    height: 14em;
    width: 14em;
    margin-top: 5%;
}

#landing_to_login {
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out .25s;
    width: auto;
}

#landing_to_login:hover {
    opacity: .7;
}

#landing_to_register {
    color: #fff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: ease-in-out .25s;
}

#landing_to_register:hover {
    opacity: .7;
}