.basic-sidebar {
    float: left;
    position: fixed;
    z-index: 10;
    width: 50px;
    height: 100vh;
    background-color: var(--main-nav-color);
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.basic-sidebar::-webkit-scrollbar {
  display: none;
}

.page-content {
    margin-left: 50px;
}

.basic-sidebar .base .logo {
    margin-top: 0;
    fill: #fff;
}

.basic-sidebar .base svg {
    margin-top: 20px;
    width: 50px;
    padding: 5px;
}

.basic-sidebar .bottom {
    position: absolute;
    bottom: 0;
}

.basic-sidebar .bottom svg {
    margin-top: 20px;
}

.basic-sidebar .bottom svg:last-child {
    margin-bottom: 10px;
}