@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.register_form {
    transform: translate(0, 40%);
    font-family: 'Quicksand', sans-serif;
    border-radius: 27px;
    margin: auto;
    padding: 40px;
    width: 34em;
    background-color: #fff;
}

.register_form input {
    width: 100%;
    border-radius: 7px;
    height: 40px;
    border: 1px solid #ccc;
    background: #eee;
}

.register_form label {
    float: left;
}

#register_to_login {
    cursor: pointer;
    color: #aaa;
    font-size: 0.9em;
    padding-left: 5px;
    border: none;
    background-color: transparent;
}

#register_btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: #333;
    color: #fff;
}