{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pocket Campaigns</title>
        {% if adventurer.theme == "the_surface" %}
            <link rel="stylesheet" type="text/css" href="{% static 'themes/the_surface/css/base.css' %}">
        {% endif %}
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'home/css/base.css' %}"> -->
        <link rel="shortcut icon" type="image/png" href="{% static 'home/img/favicon.ico' %}" />
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://kit.fontawesome.com/80537ba704.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        {% block head %}
        {% endblock %}
    </head>
    
    <body>
        {% if adventurer.nav_style == "sidebar_basic" %}
            {% include 'navigation/sidebar/basic.html' %}
        {% endif %}
        <div class="page-content">
            {% if adventurer.theme == "the_surface" %}
                {% include 'themes/rain/background.html' %}
                {% include 'campaigns/the_surface/sidebar.html'%}
            {% endif %}
            
            <div class="footer-fix">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                <!-- <p>&copy; Pocket Campaigns. All Rights Reserved.</p> -->
            </footer>
        </div>
        <script src="{% static 'home/js/base.js' %}"></script>
        {% block scripts %}
        {% endblock %}
    </body>

</html>