//base
$width: 20vw;
$font-size: 1.75em;
$z-index: 10;
$nav-width: 50px;
//base timing
$transition-time: .5s;
//colors
$text-color: #fff;
$background-color: #040d16;
//border
$border-radus: 10px;
$border-size: 2px;
//element
$element-height: 34px;
$element-padding: 1px 5px;
$element-height-with-padding: 40px;
$element-margin-top: 10px;

.campaign-form {
    position: fixed;
    z-index: $z-index;
    width: 0;
    background-color: rgba($background-color, .7);
    margin-left: calc(#{ $width } + #{ $nav-width });
    top: 0;
    transition: ease-in $transition-time;
    overflow-y: hidden;
    scrollbar-width: none;  /* Firefox */
    padding-bottom: 20px;
    
    ::-webkit-scrollbar {
        display: none;
    }

    &.active {
        width: $width;
    }

    .campaign_form {
        width: $width;

        .form-head {
            margin: auto;
            text-align: center;

            h1 {
                font-size: $font-size;
                float: left;
                padding: 10px;
                width: 100%;
                color: $text-color;
                margin: -5px 0 0 0;

                .btn {
                    background-color: transparent;
                    border: 0;

                    svg {
                        width: 30px;
                        float: left;
                        height: 33px;
                    }
                }
            }
        }

        .form-body {
            padding-right: 20px;
            padding-left: 10px;
            width: calc(100% - 40px);

            input {
                border-radius: $border-radus;
                background-color: transparent;
                border: $border-size solid $text-color;
                width: calc(100% - #{$element-height-with-padding - ($element-height - $border-size)});
                height: $element-height;
                padding: $element-padding;
                float: left;
                color: $text-color;
                font-family: var(--main-font-family);
                font-size: 1.5em;
            }

            textarea {
                border-radius: $border-radus;
                background-color: transparent;
                width: 100%;
                border: 0;
                height: 0;
                float: left;
                color: $text-color;
                font-family: var(--main-font-family);
                font-size: 1.5em;
                transition: ease-in .5s;
                opacity: 0;

                &.active {
                    margin-top: $element-margin-top;
                    height: ($element-height-with-padding * 2) + $element-margin-top - (($element-height-with-padding - $element-height) - $border-size);
                    border: $border-size solid $text-color;
                    opacity: 1;
                }
            }

            .btn {
                padding: 0;
                border-radius: $border-radus;
                background-color: transparent;
                border: 0;
                height: 0;
                float: left;
                color: $text-color;
                font-family: var(--main-font-family);
                font-size: 1.5em;
                transition: ease-in .5s;
                opacity: 0;

                &.active {
                    margin-top: $element-margin-top;
                    height: $element-height + $border-size;
                    padding: $element-padding;
                    border: $border-size solid $text-color;
                    opacity: 1;
                }
            }
            
            .create_campaign {
                cursor: pointer;
                padding: 1px 10px !important;

                &:hover {
                    background-color: $text-color;
                    color: #000;
                }
            }

            .advanced_options {
                float: right;
                margin-right: -$border-radus;
                border: 0! important;
                color: #aaa;
                font-size: 1.2em;
            }
        }
    }
}