$text-color: #fff;
$background-color: #040d16;
$border-radus: 10px;
$width: 50px;
$height: 100vh;
$svg-width: 40px;
$svg-padding: 5px;
$z-index: 10;

.page-content {
    margin-left: $width;
}

.sidebar {
    float: left;
    position: fixed;
    z-index: $z-index;
    width: $width;
    height: $height;
    background-color: $background-color;
    overflow-y: hidden;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }

    .base {
        .logo {
            margin-top: 0;
            fill: $text-color;
        }

        svg {
            margin-top: 10px;
            width: $svg-width;
            padding: $svg-padding;
            cursor: pointer;
        }
    }

    .bottom {
        position: absolute;
        bottom: 0;

        svg {
            padding: $svg-padding;
            margin-top: 20px;

            :last-child {
                margin-bottom: 10px;
            }
        }
    }
}