{% extends 'campaigns/base.htm' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'campaigns/css/campaigns.css' %}">
{% endblock %}

{% block content %}
    {% include 'frontend/page_titles.html' with title='Campaign Deck'%}

    <div class="row" style="width: calc(100% - 75px); margin: 10px;">
        {% if campaigns %}
            {% for campaign in campaigns %}
                {% include 'frontend/card.html' with card_type='full' width=3 id=campaign.id privacy=campaign.private title=campaign.title description=campaign.description author=campaign.creator.username img=campaign.img default_img='/static/campaigns/img/temp_campaign.jpg' %}
            {% endfor %}
        {% endif %}
    </div>

    {% include 'frontend/bubble_form.html' %}
    {% include 'frontend/bottom_right_nav.html' with buttons='remove add' %}
    <script src="{% static 'campaigns/js/campaigns.js' %}" type="text/javascript"></script>
{% endblock %}