{% extends 'campaigns/base.htm' %}

{% block head %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'campaigns/css/card.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'campaigns/css/check_form.css' %}">
  <style>.page-content { background-image: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.6)), url('{% if campaign.img %}{{ MEDIA_URL }}{{ campaign.img.url }}{% else %}/static/campaigns/img/temp_campaign.jpg{% endif %}'); }</style>
{% endblock %}

{% block content %}
  <div id="campaigns">
    <div class="row" style="width: 100%">
      <div class="page-title">
        <h1>{{ card.name }}</h1>
      </div>
    </div>
  </div>
  <div class="row" style="width: calc(100% - 75px); margin: 10px;">
    <div class="col-md-3">
      <div class="card-simple card--1">
        {% if card.img %}
          <div class="card__img" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url({{ MEDIA_URL }}{{ card.img.url }});"></div>
          <div class="card__img--hover" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url({{ MEDIA_URL }}{{ card.img.url }});"></div>
        {% endif %}
        <div class="card__info">
          <span class="card__category">{{ card.description }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="width: calc(100% - 75px); margin: 10px;">
    <div class="col-md-3">
      <div class="card-simple card--1">
          <div class="todo">
            <div class="top_bar">
              <input placeholder="search/add" id="tag_input" maxlength="20"></input><button id="add_tag" class="btn-green">add</button>
            </div>
            <div class="list">
              <ul id="search_list">
                {% for tag in campaign.tags.all %}
                  <li id="li{{ tag.id }}">
                    <div class="item" id="c{{ tag.id }}">
                      <span class="{% if tag in card.tags.all %}checked{% endif %}">&#10004;</span> {{ tag.tag }}
                    </div>
                    <button class="delete btn-red" id="d{{ tag.id }}">X</button>
                  </li>
                {% endfor %}
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bottom-nav" class="bottom-nav">
    <div class="speech_bubble">
      <form id="new_card_form" accept-charset="UTF-8" method="post">
          <a href="{{ campaign.id }}" class="card_link">
              <input type="file" name="campaign_img" id="campaign_img" class="campaign_img" onchange="upload_img(this)" multiple=false>
              <label class="card__img--hover" for="campaign_img" id="campaign_img_label" style="background-image: url(/static/campaigns/img/folder.png);">
          </a>
          <div class="card__info" style="margin-top: 236px;">
              <span class="card__category">Public</span>
              <div style="width: 100%; padding-top: 0px;"></div>

              <label for="campaign_title">Campaign Title:</label>
              <input type="text" name="campaign_title" id="campaign_title" value="">

              <label for="campaign_description">Description:</label>
              <textarea type="text" name="campaign_description" id="campaign_description" value=""></textarea>

              <span class="card__by">by <a class="card__author" title="author">{{ request.user.username }}</a></span>
              <input type="hidden" id="campaign_author" value="{{ request.user.username }}">

              <button id="create_campaign" class="rect_green btn-green" type="button">Create Campaign</button>
          </div>
      </form>
    </div>
    <input type="hidden" id="card_parent" value="{{ campaign.id }}">
    <input type="hidden" id="card_author" value="{{ request.user.username }}">
    <input type="hidden" id="card_id" value="{{ card.id }}">
    {% if request.user.id == campaign.owner.id %}
      <button id="btn-04" type="button"><i class="fas fa-search"></i></button>
      <button id="btn-03" class="btn-green" type="button"><i class="fas fa-edit"></i></button>
      <button id="btn-02" class="btn-green speech_button" type="button"><i class="fas fa-plus"></i></button>
      <button id="btn-01" class="btn-red" type="button"><i class="fas fa-times"></i></button>
    {% else %}
      <button id="btn-01" type="button"><i class="fas fa-search"></i></button>
    {% endif %}
    <button id="button-menu" type="button"><i class="fas fa-bars"></i></button>
  </div>
  {% if request.user.id == campaign.owner.id %}
    <script src="{% static 'campaigns/js/card.js' %}" type="text/javascript"></script>
  {% endif %}
{% endblock %}
