.page-content {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.3)), url("/static/adventurer/img/profile_back.jpg");
  background-size: cover;
  background-position: center;
}
