{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'navigation/sidebar/css/basic.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/particle.css' %}">

<nav class="basic-sidebar particletext bubbles particle_overlay">
    <div class="base">
        {% include "home/svgs/SVG-Campaigns.svg" %}
    </div>
    <div class="base">
        <a>{% include "icons/home-ico.svg" %}</a>
    </div>
    <div class="base">
        <a id="campaign-base">{% include "icons/file-ico.svg" %}</a>
    </div>
    <div class="base">
        <a>{% include "icons/person-ico.svg" %}</a>
    </div>
    
    {% block nav_item %}
    {% endblock %}

    <div class="bottom">
        {% include "icons/settings-ico.svg" %}
        <a href="/logout">{% include "icons/logout-ico.svg" %}</a>
    </div>
</nav>

<script src="{% static 'frontend/js/particle.js' %}" type="text/javascript"></script>
