<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper"
        style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0, 0, 0, .3)), url('/static/home/img/navbar_background(1).jpg');">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a></a>
                <!-- <div id="close-sidebar">
                <i class="fas fa-times"></i>
                </div> -->
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="/static/home/img/avatar.png" alt="User picture">
                </div>
                <p style="color:#fff">{{ user.username }}</p>
            </div>
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search...">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Home</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a>
                            <i class="fas fa-home"></i>
                            <span>Home</span>
                            <span class="badge badge-pill badge-primary" style="background-color: red">In
                                Progress</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="/adventurer/{{ request.user.username }}">Profile</a>
                                </li>
                                <li>
                                    <a href="/adventurer/settings">Settings</a>
                                </li>
                                <li>
                                    <a href="/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu">
                        <span>Profile</span>
                    </li>
                    <li>
                        <a href="/">
                            <i class="far fa-user"></i>
                            <span>Friends</span>
                            <span class="badge badge-pill badge-primary" style="background-color: red">In Progress</span>
                        </a>
                    </li>
                    <li class="header-menu">
                        <span>Campaigns</span>
                    </li>
                    <li>
                        <a href="/campaigns">
                            <i class="far fa-folder"></i>
                            <span>Campaign Deck</span>
                            <span class="badge badge-pill badge-primary">Beta</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>