{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/bubble_form.css' %}">

<div class="speech_bubble">
    <div class="row" style="padding: 0; margin: 0; height: 100%">
        <form id="new_card_form" accept-charset="UTF-8" method="post" style="width: 100%;">
            {% csrf_token %}

            {% if form_type == 'single_column' %}
                {% if img_displayed %}
                    <a href="{{ id }}" class="card_link">
                        <div class="col-md-12" style="height: 236px; margin: 0; padding: 0;">
                            <input type="file" name="img" id="img" class="img" onchange="upload_img(this)" multiple=false>
                            <label class="card__img--hover" for="img" id="img_label" style="background: url(/static/campaigns/the_surface/img/file-ico.svg) no-repeat, #0A2239; background-size: contain; background-position: center;">
                        </div>
                    </a>
                {% endif %}

                <div class="card__info col-md-12" {% if not img_displayed %}style="border-top-right-radius: 12px; border-top-left-radius: 12px;"{% endif %}>
                    <span class="card__category checkbox_label">{{ checked_label }}</span>
                    <label class="toggle-control">
                        <input type="checkbox" checked="checked" id="checkbox">
                        <span class="control"></span>
                        <div id="hidden_checked">{{ checked_label }}</div>
                        <div id="hidden_unchecked">{{ unchecked_label }}</div>
                    </label>
                </div>

                {% if title_label %}
                    <div class="col-md-12">
                        <label for="title">{{ title_label }}:</label>
                        <input type="text" name="title" id="title" value="">
                    </div>
                    <div class="spacing" style="width: 100%; height: 20px;"></div>
                {% endif %}

                <div class="col-md-12">
                    <label for="description">Description:</label>
                    <textarea type="text" name="description" id="description" value=""></textarea>
                </div>

            {% elif form_type == 'double_column' %}
                <div class="col-md-6" style="margin: 0; padding: 0; float: left;">
                    {% if img_displayed %}
                        <a href="{{ id }}" class="card_link">
                            <div style="height: 236px;">
                                <input type="file" name="img" id="img" class="img" onchange="upload_img(this)" multiple=false>
                                <label class="card__img--hover" for="img" id="img_label" style="background-image: url(/static/campaigns/img/folder.png); border-top-right-radius: 0;">
                            </div>
                        </a>
                    {% endif %}
                    <div class="todo-container">
                        <div class="todo">
                            <div class="top_bar">
                                <input placeholder="search/add" id="search_input" onkeyup="searchUl('id_tags')"></input><button id="search_input_btn" type="button">add</button>
                            </div>
                            <div class="list">
                                <ul id="tags_ul">
                                    {% for tag in tags %}
                                        <li id="tag{{ tag.id }}">
                                            <div class="item">
                                                <span class="checked">&#10004;</span> {{ tag.tag }}
                                            </div>
                                            <button class="delete">X</button>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6" style="float: left;">
                    <div class="spacing" style="width: 100%; height: 20px;"></div>

                    <label for="title">{{ title_label }}:</label>
                    <input type="text" name="title" id="title" value="">

                    <div class="spacing" style="width: 100%; height: 20px;"></div>

                    <label for="description">Description:</label>
                    <textarea type="text" name="description" id="description" value="" style="height: 360px;"></textarea>
                </div>
            {% endif %}

            <div class="col-md-12 bubble-form-footer">
                {% if author_displayed %}
                    <span class="card__by label-author">by <a class="card__author" title="author">{{ request.user.username }}</a></span>
                {% endif %}

                {% if parent_id %}
                    <input type="hidden" id="parent" value={{ parent_id }}>
                {% endif %}
                {% if card_id %}
                    <input type="hidden" id="cardid" value="{{ card_id }}">
                {% endif %}
                <input type="hidden" id="author" value="{{ request.user.username }}">
                <button id="submit" class="rect_green btn-green btn-submit" type="button">{{ button_label }}</button>
            </div>
        </form>
    </div>  
</div>
<script src="{% static 'frontend/js/bubble_form.js' %}" type="text/javascript"></script>
