{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/card.css' %}">

{% if card_type == 'full' %}
    <div class="col-md-{{ width }}">
        <div class="card card--1">
            <div class="card__info-hover">
                {% comment %} <span class="card__delete"><i id="card_delete" class="fas fa-times"></i></span> {% endcomment %}
                <input type="hidden" id="id" value="{{ id }}">
            </div>
            {% if has_img %}
                <div class="card__img" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('{% if img %}{{ MEDIA_URL }}{{ img.url }}{% else %}{{ default_img }}{% endif %}');"></div>
                <a href="{{ url_slug }}{{ id }}" class="card_link">
                    <div class="card__img--hover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0.1)), url('{% if img %}{{ MEDIA_URL }}{{ img.url }}{% else %}{{ default_img }}{% endif %}');"></div>
                </a>
            {% endif %}

            {% if not has_img and id %}<a href="{{ url_slug }}{{ id }}">{% endif %}
            <div class="card__info">
                {% if privacy != None %}
                    <span class="card__category">{% if privacy %}Private{% else %}Public{% endif %}</span>
                {% endif %}
                {% if title %}
                    <h3 class="card__title">{{ title }}</h3>
                {% endif %}
                <p class="card__description">{{ description }}</p>
                {% if author != None %}
                    <span class="card__by">by <a href="" class="card__author" title="author">{{ author }}</a></span>
                {% endif %}
            </div>
            {% if not has_img %}</a>{% endif %}
        </div>
    </div>
{% endif %}