//base
$width: 20vw;
$height: 100vh;
$font-size: 1.75em;
$z-index: 10;
$nav-width: var(--nav-width);
$nav-padding: 20px;
//base timing
$transition-time: .5s;
//colors
$text-color: #fff;
$background-color: #040d16;
//border
$border-radus: 10px;
$border-size: 2px;
//element
$element-padding-verticle: 1px;
$element-padding-horizontal: 5px;
$element-height: 34px;
$element-width: calc(#{ $width } - #{ ($element-padding-horizontal * 2) + ($border-size * 2) + ($nav-padding * 2) });

.app-nav {
    position: fixed;
    float: left;
    width: 0;
    margin-left: $nav-width;
    height: $height;
    background: radial-gradient(rgba($background-color, .8), rgba($background-color, .5));
    // overflow-x: hidden;
    overflow-y: scroll;
    transition: ease-in-out $transition-time;
    background-repeat: no-repeat;
    background-size: $height $height;
    z-index: $z-index;
    scrollbar-width: none;

    ::-webkit-scrollbar {
        display: none;
    }

    &.active {
        width: $width;
    }

    .temp {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        border: 2px solid #fff;
    }
}