{% extends 'campaigns/the_surface/base.htm' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'campaigns/the_surface/css/campaigns.css' %}">
{% endblock %}

{% block content %}
    {% include 'frontend/page_titles.html' with title='Campaign Deck'%}

    <div class="row">
        {% if campaigns %}
            {% for campaign in campaigns %}
                {% include 'frontend/card.html' with card_type='full' width=3 id=campaign.id has_img=True privacy=campaign.private title=campaign.title description=campaign.description author=campaign.creator.username img=campaign.img default_img='/static/campaigns/the_surface/img/temp_campaign.jpg' %}
            {% endfor %}
        {% endif %}
    </div>

    {% include 'frontend/bubble_form.html' with form_type="single_column" img_displayed=True author_displayed=True title_label="Campaign Title" checked_label="Private" unchecked_label="Public" button_label="Create Campaign" %}
    {% include 'frontend/bottom_right_nav.html' with buttons='upload remove add' %}
    <script src="{% static 'campaigns/the_surface/js/campaigns.js' %}" type="text/javascript"></script>
{% endblock %}