{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'campaigns/the_surface/css/sidebar.css' %}">

<div class="options-nav">
    <div class="head">
        <h1>Campaign Decks</h1>
    </div>
    <div class="search">
        <input class="in"></input>
        <button class="btn">{% include 'icons/search-ico.svg'%}</button>
        <div class="elements">
            {% if campaigns %}
                {% for campaign in campaigns %}
                    <div class="element" draggable="true">
                        <a class="campaign">
                            <input type="hidden" class="campaign-id" value={{ campaign.id }}>
                            <h2>{{ campaign.title }}</h2>
                        </a>
                        <span class="lock-open-ico">{% include 'icons/lock-open-ico.svg'%}</span>

                        <div class="dropdown">
                            
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="element new-campaign">
                <h2>New Campaign</h2>
                <span>{% include 'icons/plus-ico.svg'%}</span>
            </div>
        </div>
    </div>
    {% include 'campaigns/the_surface/form.html' %}
</div>

<script src="{% static 'campaigns/the_surface/js/sidebar.js' %}" type="text/javascript"></script>
