{% load compress %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Pocket Campaigns</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/img/favicon.ico' %}" />

    <!-- tools styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'tools/css/snackbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tools/css/particle.css' %}">

    <!-- background styles -->
    {% if adventurer.theme == "rain" %}
      <link rel="stylesheet" type="text/css" href="{% static 'themes/rain/css/background.css' %}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static 'themes/the_surface/css/background.css' %}">
    {% endif %}

    <!-- navbar syles -->
    {% if adventurer.nav_style == "todo://make more nav styles" %}
    {% else %}
      {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'navigation/sidebar/basic/css/base.css' %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static 'navigation/sidebar/basic/css/navbar.scss' %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static 'navigation/sidebar/basic/css/apps/sidebar.scss' %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static 'navigation/sidebar/basic/css/campaigns/sidebar.scss' %}" />
        <link rel="stylesheet" type="text/x-scss" href="{% static 'navigation/sidebar/basic/css/campaigns/campaign-form.scss' %}">
      {% endcompress %}
    {% endif %}

    <!-- dashboard -->
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'dashboard/css/grid.scss' %}" />
    {% endcompress %}
  </head>

  <body>
    <!-- backgrounds -->
    <section class="background">
      {% if adventurer.theme == "rain" %}
        {% include 'themes/rain/background.html' %}
      {% else %}
        {% include 'themes/the_surface/background.html' %}
      {% endif %}
    </section>

    <!-- navbars -->
    <nav class="nav">
      {% if adventurer.nav_style == "todo://make more nav styles" %}
      {% else %}
        {% include 'navigation/sidebar/basic/navbar.html' %}
        {% include 'navigation/sidebar/basic/apps/sidebar.html' %}
        {% include 'navigation/sidebar/basic/campaigns/sidebar.html' %}
      {% endif %}
    </nav>

    {% include 'dashboard/grid.html' %}

    <footer>
      <!-- <p>&copy; Pocket Campaigns. All Rights Reserved.</p> -->
    </footer>

    <div class="snackbar"><h1></h1></div>
    {% comment %} </div> {% endcomment %}

    <!-- libraries -->
    {% comment %} <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script> {% endcomment %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- tools scripts -->
    <script src="{% static 'tools/js/xhrRequest.js' %}" type="text/javascript"></script>
    <script src="{% static 'tools/js/snackbar.js' %}" type="text/javascript"></script>
    <script src="{% static 'tools/js/particle.js' %}" type="text/javascript"></script>
    <script src="{% static 'tools/js/draggable.js' %}" type="text/javascript"></script>

    <!-- background scripts -->
    {% if adventurer.theme == "rain" %}
      <script src="{% static 'themes/rain/js/background.js' %}" type="text/javascript"></script>
    {% else %}
      <script src="{% static 'themes/the_surface/js/background.js' %}" type="text/javascript"></script>
    {% endif %}

    <!-- navbar scripts -->
    {% if adventurer.nav_style == "todo://make more nav styles" %}
    {% else %}
      <script src="{% static 'navigation/sidebar/basic/js/campaigns/sidebar.js' %}" type="text/javascript"></script>
      <script src="{% static 'navigation/sidebar/basic/js/campaigns/campaign-form.js' %}" type="text/javascript"></script>
      <script src="{% static 'navigation/sidebar/basic/js/apps/sidebar.js' %}" type="text/javascript"></script>
      <script src="{% static 'navigation/sidebar/basic/js/navbar.js' %}" type="text/javascript"></script>
    {% endif %}

    <!-- dashboard -->
    <script src="{% static 'dashboard/js/grid.js' %}" type="text/javascript"></script>
  </body>
</html>