<section class="grid">
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>

    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>

    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>

    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>
    <div class="outline"></div>

</section>